[Unit]
Description=Entry point
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=3s
EnvironmentFile=/etc/environment
EnvironmentFile=/home/core/environment
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull nginx
# NOTE: docker container does not know about EnvironmentFile
ExecStart=/usr/bin/docker run \
  -p 80:80 \
  -e "COREOS_PRIVATE_IPV4=${COREOS_PRIVATE_IPV4}" \
  -e "APP_PORT=${APP_PORT}" \
  -e "INTRA_PORT=${INTRA_PORT}" \
  -v /home/core/entry/script:/script \
  -v /home/core/entry/conf.d:/etc/nginx/conf.d \
  --name %n \
  nginx /script/start.sh
ExecStop=/usr/bin/docker stop %n

[X-Fleet]
# Choose coreos-0, whose ip address is set as an record of genkisugimoto.com
MachineMetadata=name=coreos-0
