[Unit]
Description=English tech blog
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull genki/wordpress
ExecStart=/usr/bin/docker run \
  -p ${COREOS_PRIVATE_IPV4}::80 \
  --name %n \
  genki/wordpress /start.sh
ExecStop=/usr/bin/docker stop %n
