[Unit]
Description=English tech blog
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=3s
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull nginx
ExecStart=/usr/bin/docker run \
  -v /home/core/app/blog:/usr/share/nginx/html:ro \
  -p ${COREOS_PRIVATE_IPV4}::80 \
  --name %n \
  nginx
ExecStop=/usr/bin/docker stop %n
