[Unit]
Description=Register
After=portfolio-etcd-amb.service
BindsTo=portfolio-etcd-amb.service

[Service]
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run \
  --link portfolio-etcd-amb.service:etcd \
  -v /var/run/docker.sock:/var/run/docker.sock \
  --name %n \
  --rm polvi/docker-register \
  portfolio.service 80 portfolio

[X-Fleet]
MachineOf=portfolio-etcd-amb.service
