[Unit]
Description=Register
After=rproxy.service
BindsTo=rproxy.service
After=rproxy-etcd-amb.service
BindsTo=rproxy-etcd-amb.service

[Service]
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run \
  --link rproxy-etcd-amb.service:etcd \
  -v /var/run/docker.sock:/var/run/docker.sock \
  --name %n \
  --rm polvi/docker-register \
  rproxy.service 80 rproxy

[X-Fleet]
MachineOf=rproxy.service
