[Unit]
Description=Dynamic ambassodor
After=rproxy-etcd-amb.service
BindsTo=rproxy-etcd-amb.service

[Service]
Restart=always
RestartSec=10m
EnvironmentFile=/etc/environment
EnvironmentFile=/home/core/environment
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run \
  --link rproxy-etcd-amb.service:etcd \
  --name %n \
  --rm \
  -p ${COREOS_PRIVATE_IPV4}:${JPBLOG_PORT}:80 \
  polvi/dynamic-etcd-amb \
  jpblog 80
ExecStop=/usr/bin/docker stop %n

[X-Fleet]
MachineOf=rproxy-etcd-amb.service
