server {
    listen       80;
    server_name  localhost;

    location / {
        proxy_pass SED_APP_URL;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}

server {
    listen       80;
    server_name  intra.genkisugimoto.com;

    location / {
        proxy_pass SED_INTRA_URL;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
