[Unit]
Description=PostgreSQL for GitLab
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=10m
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run \
  --name %n \
  -e 'DB_NAME=gitlabhq_production' -e 'DB_USER=gitlab' -e 'DB_PASS=password' \
  -v /home/core/intra/gitlab/postgresql/data:/var/lib/postgresql \
  sameersbn/postgresql:latest
ExecStop=/usr/bin/docker stop %n

[X-Fleet]
MachineOf=gitlab.service
