[Unit]
Description=Rproxy
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=3s
EnvironmentFile=/etc/environment
EnvironmentFile=/home/core/environment
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull nginx
# NOTE: docker container does not know about EnvironmentFile
ExecStart=/usr/bin/docker run \
  -e "COREOS_PRIVATE_IPV4=${COREOS_PRIVATE_IPV4}" \
  -e "ADMIN_PORT=${ADMIN_PORT}" \
  -v /home/core/intra/intra-rproxy/script:/script \
  -v /home/core/intra/intra-rproxy/conf.d:/etc/nginx/conf.d \
  -p ${COREOS_PRIVATE_IPV4}::80 \
  --name %n \
  nginx /script/start.sh
ExecStop=/usr/bin/docker stop %n
